<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".MyYadomsApp"
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyYadoms"
        android:usesCleartextTraffic="true">
        <service
            android:name=".location.LocationTrackingService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="location"></service>

        <activity
            android:name=".preferences.SettingsActivity"
            android:label="@string/action_settings" />
        <activity
            android:name=".preferences.AwayFromHomeSettingsActivity"
            android:label="@string/action_away_from_home_settings" />
        <activity
            android:name=".about.AboutActivity"
            android:label="@string/action_about" />
        <activity android:name=".NewWidgetActivity" />
        <activity
            android:name=".ScrollingActivity"
            android:exported="true"
            android:theme="@style/Theme.MyYadoms.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- <receiver -->
        <!-- android:name=".GeofenceBroadcastReceiver" -->
        <!-- android:exported="false" /> -->
<!--        <receiver-->
<!--            android:name=".GeofenceBroadcastReceiver"-->
<!--            android:enabled="true"-->
<!--            android:exported="true"-->
<!--            android:permission="android.permission.ACCESS_BACKGROUND_LOCATION">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.yadoms.myyadoms.ACTION_GEOFENCE_TRANSITION" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->
    </application>

</manifest>